#app {
    height: 100vh;
    text-align: center;
}

#logo {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 0 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    box-shadow: 0 0 10px 10px black;
}

.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

.data-table {
    width: 75%;
    float: left;
}

.input-box {
    margin-left: 75%;
}

.input-box .btn {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
    align-items: center;
    background-color: #999;
}

.input-box .btn2 {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
    align-items: center;
    background-color: #999;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, rgb(0, 150, 0) 0%, rgb(0, 230, 0) 100%);
    color: #333333;
}

.input-box .btn2:hover {
    background-image: linear-gradient(to top, rgb(150, 0, 0) 0%, rgb(230, 0, 0) 100%);
    color: #333333;
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(200, 200, 200, 1);
    -webkit-font-smoothing: antialiased;
    width: 60%;
    align-items: center;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(210, 210, 210, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(210, 210, 210, 1);
}

.input-box .err {
    color: red;
    font-weight: bold;
}